.sidenav {
    background-color: rgb(136, 10, 199);
    width: 200px;
}

.sidenav a {
    color: aliceblue;
}

.sidenav i {
    padding-right: 10px;
}

.content {
    padding: 16px;
    background-color: rgba(137, 43, 226, 0.878);
}